node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example

# Uploads & Data Persistence
public/uploads/*
!public/uploads/.gitkeep
data/uploads/*
!data/uploads/.gitkeep
data/store.json
data/backup/
